* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #eff3ff;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  transform: translate(-50%, -50%);
}

#card {
  position: relative;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 30px 20px;
  width: 100%;
}

#card img {
  position: relative;
  display: block;
  margin: 20px auto;
  width: 180px;
  max-height: 200px;
}

.hp {
  border-radius: 30px;
  padding: 8px 0;
  margin-left: auto;
  width: 80px;
  font-weight: 400;
  text-align: center;
  background-color: #fff;
}

.poke-name {
  font-weight: 600;
  text-align: center;
}

.types {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px 0;
}

.hp span,
.types span {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.4px;
}

.types span {
  border-radius: 20px;
  padding: 5px 20px;
  color: #fff;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.stats p {
  color: #404060;
}

#btn {
  position: relative;
  padding: 15px 60px;
  margin: 30px auto;
  border-radius: 5px;
  border: none;
  display: block;
  font-size: 18px;
  color: #fff;
  background-color: #101010;
}
